<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
    {{driverData | json}}
    <br/>
    <div class="form-group">
      <label class="control-label" for="name">Full Name:</label>
      <input type="text" class="form-control" 
      [class.is-invalid]="!name.valid" id="name" name="name" 
      [(ngModel)]="driverData.name" required autofocus #name="ngModel"> 
      [(ngModel)]="driverData.name" required autofocus #name="ngModel"
      pattern="[a-zA-Z]">

      <ul class="alert-error" *ngIf="name.touched && name.errors">
        <li *ngIf="name.errors.required"> Name is required. </li>
        <li *ngIf="name.errors.pattern">Invalid name.</li>
      </ul>
      
      
    </div>

  
    <div class="form-group">
        <label class="control-label" for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" 
        [(ngModel)]="driverData.description"></textarea>
      </div>
  
    <div class="form-group">
      <label class="control-label" for="ownedTransportation">Owned Transportation:</label>
      <select multiple class="form-control" id="ownedTransportation" 
      name="ownedTransportation">
        <!-- <option value="C">Car</option>
        <option value="B">Bus</option>
        <option value="M">Motorcycle</option>
        <option value="H">Helicopter</option> -->
        <option *ngFor="let row of transportationList" [ngValue]="row" [label]="row.value + ' : ' + row.text"></option>
      </select>
    </div>
  
    <div class="form-group">
      <label class="control-label" for="favouriteTransportation">Favourite Transportation:</label>
      <select class="form-control" id="favouriteTransportation" name="favouriteTransportation">
        <option value="C">Car</option>
        <option value="B">Bus</option>
        <option value="M">Motorcycle</option>
        <option value="H">Helicopter</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="driverLicence" class="control-label">Has a driver's license?</label>
      <div class="checkbox">
          <label><input type="checkbox" id="driverLicence" name="driverLicence" /> Yes, if checked</label>
      </div>
    </div>
  
    <div class="form-group">
      <label for="" class="control-label">Vehicle usage:</label>
      <div class="radio">
        <label class="control-label" for="vehicleUseBusiness">
          <input type="radio" id="vehicleUseBusiness" name="vehicleUse" value="business" /> Business
        </label>
      </div>
      <div class="radio">
        <label class="control-label" for="vehicleUsePleasure">
          <input type="radio" id="vehicleUsePleasure" name="vehicleUse" value="pleasure" /> Pleasure
        </label>
      </div>
      <div class="radio">
        <label class="control-label" for="vehicleUseOther">
          <input type="radio" id="vehicleUseOther" name="vehicleUse" value="other" /> Other
        </label>
      </div>
    </div>



    <button class="btn btn-primary" type="submit">Create</button>
  
  </form>
  <div *ngIf="f.submitted">
    <br>
    <div class="card card-body bg-light">
        <strong>Value: </strong> {{f.value | json}} <br><br>
        <strong>Valid: </strong> {{f.valid}} <br><br>
        <strong>Dirty: </strong> {{f.dirty}} <br><br>
        <strong>Touched: </strong> {{f.touched}}

    </div>
  </div>
